In [7]:
import pandas as pd
df1 = pd.read_csv("C:/Users/Cherukuri Amul/Desktop/fs1_training.csv")
df2 = pd.read_csv("C:/Users/Cherukuri Amul/Desktop/fs1_test.csv")
df1.head()

   serial_number  time_stamp  Sector 1  Sector 2  Sector 3  Sector 4
0              1  2016-03-21   1125.36    458.49   2048.98   1275.00
1              2  2016-03-18   1120.10    458.49   2048.98   1242.46
2              3  2016-03-17   1120.10    458.49   2048.98   1242.46
3              4  2016-03-16   1117.84    458.49   2048.98   1228.52
4              5  2016-03-15   1114.08    458.49   2048.98   1205.28

In [8]:
df2.head()

   serial_number  time_stamp   Sector 1  Sector 2   Sector 4
0              1  2019-01-14  1411.0200    835.83  1756.5500
1              2  2019-01-11  1406.7500    837.81  1748.4100
2              3  2019-01-10  1406.8400    822.97  1740.2800
3              4  2019-01-09  1403.1801    822.97  1724.0000
4              5  2019-01-08  1408.4600    834.57  1719.9301

In [9]:
import matplotlib.pyplot as plt
%matplotlib inline

In [15]:
x = df1[['Sector 1', 'Sector 2','Sector 4']]

In [20]:
y = df1[['Sector 3']]

In [21]:
x

       Sector 1  Sector 2   Sector 4
0     1125.3600    458.49  1275.0000
1     1120.1000    458.49  1242.4600
2     1120.1000    458.49  1242.4600
3     1117.8400    458.49  1228.5200
4     1114.0800    458.49  1205.2800
5     1113.8199    458.49  1205.2800
6     1112.3199    458.49  1195.9800
7     1108.7500    458.49  1182.0400
8     1111.8800    470.07  1182.0400
9     1111.8800    470.07  1182.0400
10    1111.8800    470.07  1182.0400
11    1111.8800    470.07  1182.0400
12    1111.8800    470.07  1182.0400
13    1112.6300    470.07  1186.6899
14    1113.9500    470.07  1195.9800
15    1114.3400    470.07  1191.3300
16    1115.0900    470.07  1195.9800
17    1114.5100    470.07  1205.2800
18    1114.5100    470.07  1205.2800
19    1116.2000    470.07  1205.2800
20    1117.7000    470.07  1214.5699
21    1115.9800    470.07  1207.7100
22    1115.9500    470.07  1207.7100
23    1115.1000    470.07  1204.2800
24    1114.2600    470.07  1202.1700
25    1115.9500    470.07  1209.0300
26    1115.1000    470.07  1205.6000
27    1111.7300    470.07  1191.8700
28    1114.4200    470.07  1205.6000
29    1126.9800    527.78  1209.0300
...         ...       ...        ...
1019   989.4873    989.65  1141.1000
1020   989.4873    989.65  1141.1000
1021   988.8177    986.81  1141.1000
1022   988.2543    986.81  1138.9399
1023   987.6910    986.81  1136.7800
1024   989.1214    988.10  1141.1000
1025   987.6760    979.59  1143.2600
1026   987.3722    978.31  1143.2600
1027   986.8089    978.31  1141.1000
1028   987.3494    981.14  1141.1000
1029   986.5736    975.47  1143.2600
1030   986.4388    975.47  1141.1000
1031   986.4388    975.47  1144.1000
1032   955.6321    844.30  1144.1000
1033   956.7588    844.30  1148.4200
1034   953.4439    835.03  1144.1000
1035   949.7120    816.85  1146.2600
1036   950.1025    818.50  1146.2600
1037   948.9758    818.50  1141.9399
1038   947.9411    815.67  1141.9399
1039   950.0216    817.32  1148.4200
1040   946.5520    807.40  1144.1000
1041   946.5520    807.40  1144.1000
1042   945.3976    807.40  1139.9800
1043   946.5520    807.40  1144.1000
1044   943.1269    789.88  1148.2100
1045   938.1124    772.90  1146.1600
1046   933.5065    755.28  1146.1600
1047   939.7240    777.04  1148.2100
1048   939.7240    777.04  1148.2100

[1049 rows x 3 columns]

In [18]:
y

0       2048.9800
1       2048.9800
2       2048.9800
3       2048.9800
4       2048.9800
5       2048.5801
6       2048.5801
7       2046.5601
8       2047.3600
9       2047.3600
10      2047.3600
11      2047.3600
12      2047.3600
13      2047.3600
14      2047.0800
15      2048.8401
16      2048.8401
17      2045.6300
18      2045.6300
19      2048.2200
20      2048.2200
21      2048.1699
22      2048.1101
23      2048.1101
24      2048.1101
25      2048.1101
26      2048.1101
27      2048.1101
28      2046.9100
29      2046.9100
          ...
1019    1451.1700
1020    1451.1700
1021    1451.1700
1022    1451.1700
1023    1451.1700
1024    1451.1700
1025    1451.1700
1026    1451.1700
1027    1451.1700
1028    1450.9100
1029    1450.9100
1030    1451.7500
1031    1451.7500
1032    1452.1100
1033    1452.1100
1034    1452.1100
1035    1452.1100
1036    1452.1100
1037    1452.1100
1038    1451.3900
1039    1451.3900
1040    1451.3900
1041    1451.3900
1042    1451.3900
1043    1451.3900
1044    1451.3900
1045    1451.3900
1046    1451.3900
1047    1451.3000
1048    1451.3000
Name: Sector 3, Length: 1049, dtype: float64

In [22]:
y

       Sector 3
0     2048.9800
1     2048.9800
2     2048.9800
3     2048.9800
4     2048.9800
5     2048.5801
6     2048.5801
7     2046.5601
8     2047.3600
9     2047.3600
10    2047.3600
11    2047.3600
12    2047.3600
13    2047.3600
14    2047.0800
15    2048.8401
16    2048.8401
17    2045.6300
18    2045.6300
19    2048.2200
20    2048.2200
21    2048.1699
22    2048.1101
23    2048.1101
24    2048.1101
25    2048.1101
26    2048.1101
27    2048.1101
28    2046.9100
29    2046.9100
...         ...
1019  1451.1700
1020  1451.1700
1021  1451.1700
1022  1451.1700
1023  1451.1700
1024  1451.1700
1025  1451.1700
1026  1451.1700
1027  1451.1700
1028  1450.9100
1029  1450.9100
1030  1451.7500
1031  1451.7500
1032  1452.1100
1033  1452.1100
1034  1452.1100
1035  1452.1100
1036  1452.1100
1037  1452.1100
1038  1451.3900
1039  1451.3900
1040  1451.3900
1041  1451.3900
1042  1451.3900
1043  1451.3900
1044  1451.3900
1045  1451.3900
1046  1451.3900
1047  1451.3000
1048  1451.3000

[1049 rows x 1 columns]

In [23]:
X_train = x

In [25]:
Y_train = y

In [26]:
a = df2[['Sector 1', 'Sector 2','Sector 4']]

In [28]:
X_test = a

In [29]:
X_test

      Sector 1  Sector 2   Sector 4
0    1411.0200  835.8300  1756.5500
1    1406.7500  837.8100  1748.4100
2    1406.8400  822.9700  1740.2800
3    1403.1801  822.9700  1724.0000
4    1408.4600  834.5700  1719.9301
5    1415.3500  834.5700  1724.0000
6    1414.9000  832.9500  1724.0000
7    1405.9500  832.9500  1724.0000
8    1404.6200  828.0900  1724.0000
9    1404.6200  828.0900  1724.0000
10   1405.6000  828.0900  1729.0100
11   1404.6200  828.0900  1724.0000
12   1396.4900  791.8400  1719.0000
13   1397.6899  797.9300  1719.0000
14   1398.6700  797.9300  1724.0000
15   1399.6500  797.9300  1729.0100
16   1396.4900  791.8400  1719.0000
17   1397.4700  791.8400  1724.0000
18   1405.6000  828.0900  1729.0100
19   1404.6200  828.0900  1724.0000
20   1402.2300  815.9700  1724.0000
21   1402.2300  815.9700  1724.0000
22   1406.7800  815.9700  1729.0100
23   1406.7800  815.9700  1729.0100
24   1406.7800  815.9700  1729.0100
25   1406.7800  815.9700  1729.0100
26   1395.0900  761.6800  1724.0000
27   1395.0900  761.6800  1724.0000
28   1395.0900  761.6800  1724.0000
29   1396.0653  761.6838  1729.0056
..         ...       ...        ...
668  1126.6600  475.8600  1238.0699
669  1125.8400  475.8600  1233.0000
670  1126.6600  475.8600  1238.0699
671  1126.5800  475.8600  1238.0699
672  1126.5800  475.8600  1238.0699
673  1127.4000  475.8600  1243.1400
674  1126.3600  475.8600  1243.1400
675  1120.9000  475.8600  1243.1400
676  1117.6200  475.8600  1222.8600
677  1119.2600  475.8600  1233.0000
678  1120.9000  475.8600  1243.1400
679  1120.3800  475.8600  1243.1400
680  1116.4700  458.4900  1243.1400
681  1119.5601  475.8600  1238.0699
682  1120.3800  475.8600  1243.1400
683  1120.4200  475.8600  1243.1400
684  1119.6000  475.8600  1238.0699
685  1120.4200  475.8600  1243.1400
686  1120.4200  475.8600  1243.1400
687  1113.7900  475.8600  1243.1400
688  1117.7500  458.4900  1227.9301
689  1117.7500  458.4900  1227.9301
690  1117.7500  458.4900  1227.9301
691  1104.3101  458.4900  1144.8500
692  1117.8400  458.4900  1228.5200
693  1118.5900  458.4900  1233.1700
694  1118.5900  458.4900  1233.1700
695  1119.3400  458.4900  1237.8101
696  1120.1000  458.4900  1242.4600
697  1121.6000  458.4900  1251.7600

[698 rows x 3 columns]

In [32]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()

In [34]:
clf.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [36]:
Y_test = clf.predict(X_test)

In [37]:
Y_test

array([[2023.03205692],
       [2016.93776208],
       [2028.24952381],
       [2025.37433769],
       [2025.10331966],
       [2033.90818935],
       [2034.40747462],
       [2022.29535115],
       [2023.82027317],
       [2023.82027317],
       [2024.50709785],
       [2023.82027317],
       [2038.25536377],
       [2035.71290829],
       [2036.40114458],
       [2037.08796925],
       [2038.25536377],
       [2038.94346473],
       [2024.50709785],
       [2023.82027317],
       [2028.87739937],
       [2028.87739937],
       [2034.39554033],
       [2034.39554033],
       [2034.39554033],
       [2034.39554033],
       [2056.35565243],
       [2056.35565243],
       [2056.35565243],
       [2057.03407845],
       [2057.04234177],
       [2057.04234177],
       [2057.04234177],
       [2046.67935142],
       [2046.67935142],
       [2047.36631142],
       [2022.79232462],
       [2022.79232462],
       [2018.43130341],
       [2019.1842934 ],
       [2018.49619245],
       [2017.80809149],
       [2021.13216566],
       [2019.77077313],
       [2010.09460744],
       [2010.7827084 ],
       [2010.7827084 ],
       [2015.83041894],
       [2016.51737895],
       [2016.51737895],
       [2015.83041894],
       [2016.51737895],
       [2015.83041894],
       [2019.92967658],
       [2018.37287443],
       [2021.59532736],
       [2026.42664365],
       [2026.42664365],
       [2028.9689638 ],
       [2028.69412766],
       [2029.96870833],
       [2029.96870833],
       [2029.96870833],
       [2031.23644781],
       [2031.92454877],
       [2033.19926478],
       [2030.75701891],
       [2030.75701891],
       [2052.81932637],
       [2052.1325017 ],
       [2052.1325017 ],
       [2058.91838213],
       [2036.77735357],
       [2042.52063814],
       [2058.33874362],
       [2053.45087554],
       [2076.0909711 ],
       [2074.14866377],
       [2064.05297203],
       [2062.10395882],
       [2063.27121801],
       [2088.47356012],
       [2089.7412996 ],
       [2092.36919016],
       [2096.49106916],
       [2091.5617607 ],
       [2091.3743844 ],
       [2094.33995444],
       [2098.09574634],
       [2091.94740121],
       [2091.94740121],
       [2115.283513  ],
       [2115.283513  ],
       [2112.75282351],
       [2112.07953194],
       [2115.29514367],
       [2112.75282351],
       [2113.93375114],
       [2114.60831899],
       [2114.60831899],
       [2114.60831899],
       [2113.93375114],
       [2115.29514367],
       [2113.93375114],
       [2146.16775831],
       [2144.79283268],
       [2144.79283268],
       [2144.69475942],
       [2144.69475942],
       [2144.69475942],
       [2144.00665846],
       [2144.82115778],
       [2144.82115778],
       [2143.45862429],
       [2149.80431218],
       [2148.50647016],
       [2141.61212729],
       [2141.61212729],
       [2143.71938223],
       [2140.29496311],
       [2117.82262773],
       [2112.78831495],
       [2108.13710312],
       [2109.89097736],
       [2102.32207939],
       [2104.17754934],
       [2111.01414353],
       [2116.48805613],
       [2118.90839374],
       [2119.5829616 ],
       [2122.32069138],
       [2121.63245509],
       [2122.32069138],
       [2126.07805868],
       [2132.38695213],
       [2131.12590455],
       [2131.12590455],
       [2144.02476915],
       [2142.03219652],
       [2143.30007132],
       [2146.86096238],
       [2143.44880008],
       [2143.44880008],
       [2147.54906334],
       [2146.91509478],
       [2146.91509478],
       [2148.27648731],
       [2149.46425613],
       [2148.33151553],
       [2140.7954819 ],
       [2138.05916374],
       [2131.22130604],
       [2128.48512321],
       [2129.05950395],
       [2126.2402201 ],
       [2129.95549969],
       [2126.53106782],
       [2125.16826367],
       [2109.41213471],
       [2125.64784066],
       [2124.2863128 ],
       [2122.23554303],
       [2121.54858302],
       [2115.10665642],
       [2115.10665642],
       [2115.10665642],
       [2113.7304545 ],
       [2116.24526055],
       [2116.24526055],
       [2132.49421617],
       [2132.44021911],
       [2133.81514473],
       [2154.40684243],
       [2160.26909758],
       [2159.58086129],
       [2159.58086129],
       [2158.89276034],
       [2158.89276034],
       [2149.59129407],
       [2149.59129407],
       [2148.90319312],
       [2151.64092289],
       [2149.48397259],
       [2137.30970423],
       [2149.89057564],
       [2149.89057564],
       [2142.34615751],
       [2142.34615751],
       [2142.34615751],
       [2142.34615751],
       [2142.34615751],
       [2143.03311752],
       [2142.34615751],
       [2142.34615751],
       [2143.31394391],
       [2143.31394391],
       [2142.70707667],
       [2143.31394391],
       [2162.85821619],
       [2167.22929383],
       [2166.62241383],
       [2161.51048517],
       [2165.18929107],
       [2165.18929107],
       [2172.74055039],
       [2170.19138903],
       [2172.74055039],
       [2172.74055039],
       [2172.74055039],
       [2172.74055039],
       [2172.74055039],
       [2167.64920421],
       [2167.64920421],
       [2161.54809755],
       [2167.64920421],
       [2167.64920421],
       [2176.55745122],
       [2176.55745122],
       [2176.55745122],
       [2174.72200184],
       [2165.24672319],
       [2164.62631009],
       [2159.18683752],
       [2159.7949938 ],
       [2159.7949938 ],
       [2158.57995752],
       [2155.51593875],
       [2169.26899616],
       [2163.64633579],
       [2157.91399404],
       [2155.32566259],
       [2160.15697888],
       [2160.15697888],
       [2160.15697888],
       [2159.5488226 ],
       [2159.5488226 ],
       [2159.5488226 ],
       [2160.15697888],
       [2169.05852002],
       [2167.82995064],
       [2169.66540002],
       [2169.66540002],
       [2172.10900569],
       [2170.44508991],
       [2163.82949756],
       [2163.82949756],
       [2163.00409046],
       [2162.1788187 ],
       [2154.93896251],
       [2153.28844451],
       [2154.93896251],
       [2150.79899907],
       [2137.94295052],
       [2139.27175077],
       [2143.96893536],
       [2143.96893536],
       [2143.96893536],
       [2143.96893536],
       [2143.14367635],
       [2142.31841735],
       [2134.70588582],
       [2135.53114482],
       [2134.70588582],
       [2135.53114482],
       [2135.53114482],
       [2151.09498859],
       [2150.26972959],
       [2150.26972959],
       [2150.26972959],
       [2148.61921158],
       [2148.61921158],
       [2153.74852884],
       [2153.74852884],
       [2154.57377508],
       [2155.39904684],
       [2155.39904684],
       [2154.57377508],
       [2153.74852884],
       [2159.70309233],
       [2159.70309233],
       [2158.87782057],
       [2151.96637403],
       [2141.53249014],
       [2149.14488634],
       [2168.1408701 ],
       [2169.80492121],
       [2168.1408701 ],
       [2151.75176734],
       [2151.75176734],
       [2150.9265211 ],
       [2168.97967497],
       [2168.86564428],
       [2202.60689091],
       [2204.27080669],
       [2202.60689091],
       [2201.78150934],
       [2203.43202735],
       [2201.78150934],
       [2201.78150934],
       [2201.01036997],
       [2197.70933396],
       [2198.62837192],
       [2196.97771858],
       [2197.99979986],
       [2198.94376326],
       [2186.91283838],
       [2194.04550508],
       [2191.55620774],
       [2190.28461651],
       [2191.94866761],
       [2193.59918561],
       [2193.22025884],
       [2188.25159251],
       [2143.34982339],
       [2142.90745003],
       [2144.28911308],
       [2145.44667363],
       [2142.14563762],
       [2147.28196443],
       [2145.61791333],
       [2145.61791333],
       [2145.61791333],
       [2145.61791333],
       [2147.53290634],
       [2145.61791333],
       [2145.61791333],
       [2144.79265433],
       [2141.93369791],
       [2141.93369791],
       [2141.93369791],
       [2142.75895692],
       [2142.75895692],
       [2141.93369791],
       [2141.10843891],
       [2141.10843891],
       [2142.75895692],
       [2141.93369791],
       [2142.75895692],
       [2149.83676762],
       [2153.21872943],
       [2146.71140187],
       [2146.71140187],
       [2133.01642588],
       [2126.10496658],
       [2126.10496658],
       [2129.53824009],
       [2128.58087892],
       [2125.85402468],
       [2125.85402468],
       [2089.13898751],
       [2091.56089215],
       [2092.38615116],
       [2089.91037415],
       [2084.62009731],
       [2091.28210887],
       [2093.42766948],
       [2091.77715147],
       [2093.42766948],
       [2081.08072576],
       [2078.91412981],
       [2083.23166478],
       [2083.23166478],
       [2085.77512004],
       [2085.77512004],
       [2086.54623388],
       [2073.69006276],
       [2073.69006276],
       [2050.66998882],
       [2049.00593772],
       [2050.53517789],
       [2051.36044965],
       [2051.36044965],
       [2034.49922307],
       [2030.44538687],
       [2028.78131024],
       [2032.92115112],
       [2059.39189247],
       [2059.39189247],
       [2059.39189247],
       [2059.39189247],
       [2059.39189247],
       [2071.12508918],
       [2071.12508918],
       [2061.14796085],
       [2084.07431768],
       [2061.54170809],
       [2048.90388675],
       [2038.19886357],
       [2037.82071689],
       [2034.96860168],
       [2017.23050074],
       [2018.89468717],
       [2019.71981084],
       [2022.20912095],
       [2026.5606991 ],
       [2017.44199075],
       [2014.95269341],
       [2013.30214988],
       [2012.47690364],
       [2012.54456913],
       [2012.54456913],
       [2012.54456913],
       [2006.48655408],
       [2006.47506751],
       [2013.37667514],
       [2013.37667514],
       [2010.06211879],
       [2012.914234  ],
       [2012.09025129],
       [2013.37667514],
       [2013.37667514],
       [2013.37667514],
       [2013.43094286],
       [2010.18365665],
       [2011.00890289],
       [2018.86120947],
       [2026.31431764],
       [2026.31431764],
       [2031.27941752],
       [2030.45429384],
       [2036.4628544 ],
       [2046.62504684],
       [2063.52775197],
       [2067.66758008],
       [2067.66758008],
       [2085.61087854],
       [2079.60218265],
       [2004.68346746],
       [2005.50872646],
       [2005.50872646],
       [2008.82329557],
       [2008.82329557],
       [2006.33398546],
       [2008.82329557],
       [1984.7614458 ],
       [1988.90126115],
       [1988.90126115],
       [1969.14376989],
       [1999.53174195],
       [2001.18239529],
       [2005.3222234 ],
       [2041.41513337],
       [2041.08652719],
       [2034.32613554],
       [2037.33061882],
       [2038.08217925],
       [2039.57076138],
       [2039.57076138],
       [2035.81599396],
       [2033.23117208],
       [2000.31867567],
       [2000.31867567],
       [2000.31867567],
       [1999.58051301],
       [1998.82881725],
       [1998.82881725],
       [2007.38423452],
       [2005.15762506],
       [2008.13593027],
       [2008.13593027],
       [2004.23072357],
       [1999.58051301],
       [1992.21113191],
       [1990.7212735 ],
       [1989.98324617],
       [1985.50127878],
       [1983.26100089],
       [1989.52139388],
       [1991.76294805],
       [1991.76294805],
       [1992.49984719],
       [1996.23125977],
       [1997.7881214 ],
       [1998.53980439],
       [2000.76654918],
       [2000.76654918],
       [2000.76654918],
       [1999.22335599],
       [1999.22335599],
       [1999.96138331],
       [2003.98151118],
       [2000.24996326],
       [2009.20149313],
       [2009.20149313],
       [2009.20149313],
       [1997.2911486 ],
       [1992.82284964],
       [1989.81728415],
       [1986.83884361],
       [1977.13701683],
       [1977.13701683],
       [1968.24042763],
       [1970.14859457],
       [1969.41043191],
       [1967.5024003 ],
       [1968.30058963],
       [1966.75056922],
       [1966.75056922],
       [1966.75056922],
       [1965.36265708],
       [1963.10584482],
       [1962.64319468],
       [1962.64319468],
       [1962.64319468],
       [1962.64319468],
       [1962.18043474],
       [1961.65615956],
       [1956.05138493],
       [1956.05138493],
       [1956.05138493],
       [1955.58874755],
       [1957.54212711],
       [1957.54212711],
       [1967.12408675],
       [1966.62005055],
       [1963.83223218],
       [1962.38948442],
       [1962.38948442],
       [1946.34141596],
       [1949.43373262],
       [1949.43373262],
       [1949.89650533],
       [1949.89650533],
       [1938.78569584],
       [1938.78569584],
       [1938.78569584],
       [1946.19610675],
       [1944.80819462],
       [1946.19610675],
       [1944.80819462],
       [1945.7336047 ],
       [1945.27083199],
       [1942.14217414],
       [1942.60481152],
       [1941.67953676],
       [1942.60481152],
       [1943.58478657],
       [1947.02904365],
       [1947.49168102],
       [1950.1577015 ],
       [1950.62033888],
       [1930.34301616],
       [1929.88037878],
       [1930.34301616],
       [1930.34301616],
       [1930.34301616],
       [1929.88037878],
       [1929.88037878],
       [1929.88037878],
       [1926.70535649],
       [1926.70535649],
       [1926.70535649],
       [1926.23044877],
       [1926.23044877],
       [1926.23044877],
       [1928.4323372 ],
       [1927.88247668],
       [1931.19649589],
       [1931.19649589],
       [1931.19649589],
       [1939.99012452],
       [1939.99012452],
       [1939.99012452],
       [1939.71959787],
       [1941.10737467],
       [1909.67248529],
       [1909.67248529],
       [1909.67248529],
       [1941.56999929],
       [1941.10737467],
       [1930.5059406 ],
       [1929.1181638 ],
       [1930.04343856],
       [1930.04343856],
       [1930.96871331],
       [1930.96871331],
       [1930.04343856],
       [1909.34770446],
       [1908.88506708],
       [1908.88506708],
       [1941.42979314],
       [1940.96703319],
       [1940.50438305],
       [1940.96703319],
       [1940.88317449],
       [1942.64261267],
       [1942.64261267],
       [1948.2047163 ],
       [1948.2047163 ],
       [1945.32606198],
       [1948.2047163 ],
       [1948.2047163 ],
       [1947.27944154],
       [1947.27944154],
       [1949.87779652],
       [1949.87779652],
       [1949.87779652],
       [1949.87779652],
       [1950.29718726],
       [1949.37218316],
       [1950.29718726],
       [1947.9841357 ],
       [1945.67094881],
       [1945.67094881],
       [1945.67094881],
       [1945.67094881],
       [1945.20831143],
       [1937.68624856],
       [1923.10819209],
       [1915.24498358],
       [1923.5421053 ],
       [1922.61683054],
       [1944.59361299],
       [1946.35291584],
       [1946.35291584],
       [1926.69591588],
       [1912.48348223],
       [1914.33403174],
       [1914.79666912],
       [1914.79666912],
       [1915.25930649],
       [1917.57249338],
       [1917.57249338],
       [1918.03513076],
       [1918.96040551],
       [1918.96040551],
       [1907.96517309],
       [1908.42794579],
       [1912.82495924],
       [1912.82495924],
       [2053.58064722],
       [1910.64626566],
       [1910.18362828],
       [1909.95013661],
       [1909.95013661],
       [1910.87543689],
       [1908.54463531],
       [1908.44184302],
       [1908.90461572],
       [1907.22902348],
       [1910.40930171],
       [2058.58987256],
       [1910.40930171],
       [1910.87193909],
       [1911.33457647],
       [1914.00059694],
       [1914.92714798],
       [1914.92714798],
       [1914.92714798],
       [1914.46323432],
       [1914.92714798],
       [1897.59124835],
       [1897.53711596],
       [1897.53711596],
       [1890.0053056 ],
       [1890.0053056 ],
       [1947.65630672],
       [1948.58285776],
       [1948.58285776],
       [1948.58285776],
       [1950.56372699],
       [1948.24925105],
       [1949.1562847 ],
       [1949.2104171 ],
       [1951.52359122],
       [1952.02530166],
       [1947.40199312],
       [1949.71516725],
       [1950.64046753],
       [1950.17781739],
       [1950.64046753],
       [1950.53220274],
       [1950.53220274],
       [1950.99482735],
       [1949.58738507],
       [1942.1983131 ],
       [1940.34776359],
       [1941.27303834],
       [1942.1983131 ],
       [1941.49459196],
       [1948.08631817],
       [1941.03210267],
       [1941.49459196],
       [1941.54872435],
       [1941.08609974],
       [1941.54872435],
       [1941.54872435],
       [1932.57627981],
       [1951.75977225],
       [1951.75977225],
       [1951.75977225],
       [1944.17481509],
       [1951.80628206],
       [1952.22779173],
       [1952.22779173],
       [1952.65056493],
       [1953.08562047],
       [1953.92863982]])

In [38]:
Sector_3 = pd.DataFrame(Y_test)

In [39]:
Sector_3

               0
0    2023.032057
1    2016.937762
2    2028.249524
3    2025.374338
4    2025.103320
5    2033.908189
6    2034.407475
7    2022.295351
8    2023.820273
9    2023.820273
10   2024.507098
11   2023.820273
12   2038.255364
13   2035.712908
14   2036.401145
15   2037.087969
16   2038.255364
17   2038.943465
18   2024.507098
19   2023.820273
20   2028.877399
21   2028.877399
22   2034.395540
23   2034.395540
24   2034.395540
25   2034.395540
26   2056.355652
27   2056.355652
28   2056.355652
29   2057.034078
..           ...
668  1950.640468
669  1950.177817
670  1950.640468
671  1950.532203
672  1950.532203
673  1950.994827
674  1949.587385
675  1942.198313
676  1940.347764
677  1941.273038
678  1942.198313
679  1941.494592
680  1948.086318
681  1941.032103
682  1941.494592
683  1941.548724
684  1941.086100
685  1941.548724
686  1941.548724
687  1932.576280
688  1951.759772
689  1951.759772
690  1951.759772
691  1944.174815
692  1951.806282
693  1952.227792
694  1952.227792
695  1952.650565
696  1953.085620
697  1953.928640

[698 rows x 1 columns]

In [40]:
Serial = pd.DataFrame(df2['serial_number'])

In [41]:
Serial

     serial_number
0                1
1                2
2                3
3                4
4                5
5                6
6                7
7                8
8                9
9               10
10              11
11              12
12              13
13              14
14              15
15              16
16              17
17              18
18              19
19              20
20              21
21              22
22              23
23              24
24              25
25              26
26              27
27              28
28              29
29              30
..             ...
668            669
669            670
670            671
671            672
672            673
673            674
674            675
675            676
676            677
677            678
678            679
679            680
680            681
681            682
682            683
683            684
684            685
685            686
686            687
687            688
688            689
689            690
690            691
691            692
692            693
693            694
694            695
695            696
696            697
697            698

[698 rows x 1 columns]

In [46]:
answer = [Serial, Sector_3]

In [50]:
answer1 = pd.concat([Serial, Sector_3], axis=1)

In [51]:
answer1

     serial_number            0
0                1  2023.032057
1                2  2016.937762
2                3  2028.249524
3                4  2025.374338
4                5  2025.103320
5                6  2033.908189
6                7  2034.407475
7                8  2022.295351
8                9  2023.820273
9               10  2023.820273
10              11  2024.507098
11              12  2023.820273
12              13  2038.255364
13              14  2035.712908
14              15  2036.401145
15              16  2037.087969
16              17  2038.255364
17              18  2038.943465
18              19  2024.507098
19              20  2023.820273
20              21  2028.877399
21              22  2028.877399
22              23  2034.395540
23              24  2034.395540
24              25  2034.395540
25              26  2034.395540
26              27  2056.355652
27              28  2056.355652
28              29  2056.355652
29              30  2057.034078
..             ...          ...
668            669  1950.640468
669            670  1950.177817
670            671  1950.640468
671            672  1950.532203
672            673  1950.532203
673            674  1950.994827
674            675  1949.587385
675            676  1942.198313
676            677  1940.347764
677            678  1941.273038
678            679  1942.198313
679            680  1941.494592
680            681  1948.086318
681            682  1941.032103
682            683  1941.494592
683            684  1941.548724
684            685  1941.086100
685            686  1941.548724
686            687  1941.548724
687            688  1932.576280
688            689  1951.759772
689            690  1951.759772
690            691  1951.759772
691            692  1944.174815
692            693  1951.806282
693            694  1952.227792
694            695  1952.227792
695            696  1952.650565
696            697  1953.085620
697            698  1953.928640

[698 rows x 2 columns]

In [71]:
answer1.rename(columns = {'Sector_3':'Sector 3'}, inplace = True)

In [72]:
answer1

     serial_number     Sector 3
0                1  2023.032057
1                2  2016.937762
2                3  2028.249524
3                4  2025.374338
4                5  2025.103320
5                6  2033.908189
6                7  2034.407475
7                8  2022.295351
8                9  2023.820273
9               10  2023.820273
10              11  2024.507098
11              12  2023.820273
12              13  2038.255364
13              14  2035.712908
14              15  2036.401145
15              16  2037.087969
16              17  2038.255364
17              18  2038.943465
18              19  2024.507098
19              20  2023.820273
20              21  2028.877399
21              22  2028.877399
22              23  2034.395540
23              24  2034.395540
24              25  2034.395540
25              26  2034.395540
26              27  2056.355652
27              28  2056.355652
28              29  2056.355652
29              30  2057.034078
..             ...          ...
668            669  1950.640468
669            670  1950.177817
670            671  1950.640468
671            672  1950.532203
672            673  1950.532203
673            674  1950.994827
674            675  1949.587385
675            676  1942.198313
676            677  1940.347764
677            678  1941.273038
678            679  1942.198313
679            680  1941.494592
680            681  1948.086318
681            682  1941.032103
682            683  1941.494592
683            684  1941.548724
684            685  1941.086100
685            686  1941.548724
686            687  1941.548724
687            688  1932.576280
688            689  1951.759772
689            690  1951.759772
690            691  1951.759772
691            692  1944.174815
692            693  1951.806282
693            694  1952.227792
694            695  1952.227792
695            696  1952.650565
696            697  1953.085620
697            698  1953.928640

[698 rows x 2 columns]

In [73]:
answer1.to_csv(r'C:/Users/Cherukuri Amul/Desktop/answeramul2.csv', index = False)